/*======================================================GENERAL========================================================================*/
.row{
    /*min-height: 100px;*/
    /*border: 2px solid yellow;*/
}
.col-sm-12{
    /*border: 2px solid red;*/
    /*min-height: 100px;*/
}
/**{*/
/*    overflow-x: hidden;*/
/*    overflow-scrolling: auto;*/
/*}*/
/*======== Navbar, Routing and Header ================================================================================================================================*/
.Navbar {
    max-height: 80px;
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}
.logo {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    width: 100px;
    height: 90px;
}
.MenuIcon {
    color: blue;
    cursor: pointer;
    padding-bottom: 50px;
    padding-left: 50%;
    font-size: 60px;
}
.NavItems {
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}
.NavItem {
    text-decoration: none;
    font-size: x-large;
    color: #333;
    padding-left: 6px;
    border-left: 2px solid blue;
}
.NavItem:hover{
    border-left: 10px solid lawngreen;
}
.sidebar {
    flex-direction: column;
    display: flex;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 300px;
    /*max-height: 20%;*/
    background-image: linear-gradient(white,whitesmoke,lightgrey);
    transform: translateX(300px);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    align-items: center;
}
.sidebarOpen {
    transform: translateX(0);
}
.NavItem_mini{
    visibility: hidden;
}
.NavItem_mini_side{
    visibility: visible;
    border-left: 0;
    font-size: x-large;
    padding-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid blue;
}
.NavItem_mini_side:hover{
    border-bottom: 10px solid lawngreen;
}

/*================================================================== PAGES ==========================================================================================================*/

/*======================================================= HOME ================================================================================*/
.home_body{
    min-height: 2000px;
    margin-top: 0;
}
/*================================== 1st section ============================*/
.firstDivBackground{
    background-image: url("./img/construction-site.jpg");
    background-size: cover;
    padding-top: 1px;
    margin-top: -1px;
    min-height: 800px;
    width: 100%;
}
.sloganContainer{
    margin-top: 180px;
    margin-left: 100px;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 0 30px whitesmoke;
}
.blueDot{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 45px;
}
.slogan h1{
    margin-left: 50px;
}
.intro p{
    margin-left: 55px;
    margin-right: 40px;
    margin-bottom: 5px;
}
.sloganButton button{
    margin-top: 8px;
    margin-left: 60px;
    margin-bottom: 8px;
    padding-bottom: 0;
    border: 3px solid darkblue;
}
.sloganButton button:hover{
    background-color: blue;
    color: white;
    width: 200px;
    transition: all 0.3s;
}
/*====================================2nd Section=======================*/
.value{
    background-color: grey;
    min-height: 800px;
    padding-top: 1px;
    margin-top: -1px;
    padding-left: 50px;
    padding-right: 50px;
    color: darkblue;
}
.valueHeader{
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin-top: 0;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valueHeader .card{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.valueHeader .card-body{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.valueHeader h1{
   /*color: darkblue;*/
    font-size: xxx-large;
    /*margin-bottom: -50px;*/
}
.valuePreamble .card{
    background-color: transparent;
    /*width: 100%;*/
    /*margin-top: -50px;*/
}
.valuePreamble .card-body{
    background-color: transparent;
}
.valueLinkBtn{
    margin-top: 5px;
}
.valueLinkBtn button{
    border: 2px solid white;
    margin-left: 15px;
    /*background-color: transparent;*/
    border-radius: 15px;
}
.valueLinkBtn button:hover{
    background-color: white;
    width: 200px;
}
/*.valuePreamble p{*/
/*    !*color: darkblue;*!*/
/*    padding-right: 20px;*/
/*    padding-left: 20px;*/
/*}*/
.valueList .card{
    background-color: grey;
    margin-top: 20px;
    height: 400px;
    overflow-y: scroll;
    /*width: 100%;*/
}
.valueListCard::-webkit-scrollbar{
    width: 10px;
}
.valueListCard::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, dimgrey);
    border-radius: 50px;
}
.valueListCard::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 50px;
}
.valueListCard::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, coral);
    border-radius: 50px;
}
.valueListCard::-webkit-scrollbar-track:hover{
    background-color: grey;
    border-radius: 50px;
}
/*.valueListImg{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
.valueListImg img{
    width: 100%;
    height: 90px;
    /*border-radius: 50%;*/
}
.valueLinkBtn2{
    margin-top:20px;
    margin-bottom:20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.valueLinkBtn2 button{
    border: 2px solid white;
    margin-left: 15px;
    /*background-color: transparent;*/
    border-radius: 15px;
}
.valueLinkBtn2 button:hover{
    background-color: white;
    width: 1000px;
}
/*===========================3rd section============================*/
.service{
    padding-right: 30px;
    padding-left: 30px;
    background-color: grey;
}
.blueBox{
    min-height: 400px;
    width: 60%;
    /*margin-left: 15%;*/
    margin-top: 40px;
    background-image: url("./img/geometric.jpg");
    /*background-color: darkblue;*/
    position: absolute;
}

.orangeBox{
    width: 60%;
    min-height: 400px;
    margin-top: 500px;
    margin-left: 35%;
    background-image: url("./img/orange.jpg");
    position: absolute;
}
.service .card{
    /*background-color: black;*/
    color: white;
    /*position: absolute;*/
    margin-left: 4%;
    margin-right: 4%;
    background-color: transparent;
}
.service .card-body{
    /*background-color: black;*/
    background-color: rgba(0,0,0,0.9);

}
.service .card-title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-decoration:underline;
}
.service button{
    border: 2px solid white;
    border-radius: 15px;
    margin-left: 12px;
    margin-top:5px;
    color: orangered;
}
.service button:hover{
    background-color: white;
    width: 200px
}
.helpLink{
    background-color: transparent;
}
.helpLink .card-body{
    background-color: transparent;
}
.helpLink .card-title{
    font-size: xxx-large;
    text-decoration: none;
    color: white;
}
/*.helpLink .card-title:hover{*/
/*    text-decoration: none;*/
/*    !*background-color: white;*!*/
/*    !*color: black;*!*/
/*    !*box-shadow: 0 0 5px white;*!*/
/*}*/
/*a:hover{*/
/*    text-decoration: none;*/
/*}*/
/*===========================4th section============================*/
.project{
    /*margin-top: 150px;*/
    padding-left: 30px;
    padding-right: 30px;
    background-color: grey;
}
.project-title{
    margin-top: 50px;
    width: 100%;
    background-color: grey;
}
.project-title .card-body{
    background-color: grey;
}
.project-title .card-title{
    display: flex;
    justify-content: center;
    font-size: 90px;
    color:black;
}
.pImg img{
    width: 100%;
    height: 100%;
}
.l{
    margin-top: 30px;
    border-radius: 120px;
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
}
.l .card-body{
    /*border-radius: 120px;*/
}
/*================================================================ABOUT=============================================================================*/
.aboutPage{
    background-color: grey;
    color: darkblue;
    /*border: 3px solid yellow;*/
}
.aboutPage .card {
    background-color: grey;
}
.aboutPage .card-body{
    background-color: grey;
}
.aboutPage .card-title{
    font-size: xxx-large;
}
/*==============================================Section 1==*/
.aboutPage .card{
    padding-left: 30px;
    padding-right: 30px;
}
.aboutTop .top{
    background-image: url("./img/bridge.jpg");
    background-size: cover;
    min-height: 500px;
    width: 100%;
    /*margin-top: 10px;*/
    /*color: white;*/
    /*background-repeat: no-repeat;*/
}
.aboutTop .insideTop{
    margin-top: 10em;
    max-width: 600px;
    max-height: 300px;
    margin-left: 5em;
}
/*=====================================Section 3==*/
.target .card{
    background-color: transparent;
    margin-top: 9em;
    margin-left: 17%;
    max-width: 800px;
    color: white;
    border: none;
}
.target .card-body{
    background-color: rgba(0,0,0,0.9);
}
.target .vision{
    margin-left: 0;
    max-width: fit-content;
}
.targetDiv1{
    min-height: 800px;
    width: 60%;
    margin-left: 10%;
    margin-top: 40px;
    background-image: url("./img/lightBulb.jpg");
    background-size: cover;
    /*background-color: darkgrey;*/
    position: absolute;
}
.targetDiv2{
    min-height: 800px;
    width: 60%;
    margin-left: 12%;
    margin-top: 60px;
    background-color: coral;
    position: absolute;
}
.targetDiv3{
    min-height: 800px;
    width: 60%;
    margin-left: 14%;
    margin-top: 80px;
    background-image: url("./img/tower.jpg");
    background-size: cover;
    /*background-color: slategrey;*/
    position: absolute;
}
.targetDiv4{
    min-height: 800px;
    width: 60%;
    margin-left: 16%;
    margin-top: 100px;
    background-color: royalblue;
    position: absolute;
}
.targetDiv5{
    min-height: 800px;
    width: 60%;
    margin-left: 18%;
    margin-top: 120px;
    background-image: url("./img/home_work_pic.jpg");
    background-size: cover;
    /*background-color: dimgrey;*/
    position: absolute;
}
.space{
    min-height: 400px;
}
/*========================================Section 5==*/
.directors{
    justify-content: center;
}
.directorsHeading{
    display: flex;
    justify-content: center;
}
.directorsList{
    padding-right: 30px;
    padding-left: 30px;
}
.directors .card{
    border: none;
    color: darkblue;
}
.directorsList .card{
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 200px;
}
.directorsList .card-body{
    /*display: flex;*/
    /*border: 2px solid green;*/
    background-color: rgba(0,0,0,0.5);
    /*width: 100%;*/
}
.directors .card-img-top{
    padding-top: 0;
}
.directors .card-img-top img{
    width: 100%;
}
/*============================================================== CONTACT =======================================================================================================*/
.contactPage{
    color: darkblue;
}
.contactTop .top{
    background-image: url("./img/question.jpg");
    background-size: cover;
    min-height: 400px;
    width: 100%;
    /*margin-top: 10px;*/
    color: white;
    /*background-repeat: no-repeat;*/
}
.contactTop .insideTop{
    margin-top: 10em;
    max-width: 600px;
    max-height: 300px;
    margin-left: 5em;
    box-shadow: 0 0 60px black;
}
.contactTop .insideTop .card-body{
    background-color: black;
    /*max-height: 10px;*/
}
.blue{
    color: blue;
}
.contactMid{
    background-color: grey;
    padding-left: 10%;
    padding-right: 10%;
    /*justify-content: center;*/
}
.contactOptions{
    /*margin-top: ;*/
    /*display: flex;*/
    /*justify-content: center;*/

}
.contactOptionsList{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90%;
    height: 220px;
    margin-left: 15px;
}
.contactIcon i{
    font-size: x-large;
}
.contactBottom{
    padding-right: 10%;
    padding-left: 10%;
    background-color: darkgrey;
}
.colCard .card-body{
    background-color: darkgrey;
}
/*=====================================================================================SERVICES=========================================================================*/
.servicePage{
    color: darkblue;
}
.serviceTop .top{
    background-image: url("./img/pole.jpg");
    background-size: cover;
    min-height: 400px;
    width: 100%;
    /*margin-top: 10px;*/
    color: black;
    /*background-repeat: no-repeat;*/
}
.serviceTop .insideTop{
    margin-top: 15em;
    max-width: 600px;
    margin-left: 5em;
    /*box-shadow: 0 0 60px black;*/
    background-color: transparent;
}
.serviceTop .card .card-body{
    background-color: transparent;
}
.serviceTop .card .card-body h1{
    font-size: 100px;
}
.serviceSub{
    padding-left: 10%;
    padding-right: 10%;
    background-color: grey;
}
.serviceSub .card{
    margin-top: 20px;
    background-color: transparent;
}
.serviceSub .card .card-body{
    /*background-color: rgba(255,255,255,0.0);*/
    box-shadow: 0 0 10px black;
    background-color: transparent;
}
.serviceContactBtn button{
    border: 2px solid white;
    margin-left: 15px;
    /*background-color: transparent;*/
    border-radius: 15px;
}
.serviceContactBtn button:hover{
    background-color: white;
    width: 150px;
}
.serviceListing{
    padding-left: 30px;
    padding-right: 30px;
    background-color: grey;
}
.serviceListing .col-sm-12 .card{
    margin-top: 20px;
}
.serviceListing .card{
    height: 500px;
    overflow-y: scroll;
}
.serviceListing .card .card-body{
    background-color: grey;
}
.serviceListing .card .card-body img{
    width: 100%;
    /*object-fit: cover;*/
}
.serviceListing .card::-webkit-scrollbar{
    width: 10px;
}
.serviceListing .card::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, dimgrey);
    border-radius: 50px;
}
.serviceListing .card::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 50px;
}
.serviceListing .card::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, coral);
    border-radius: 50px;
}
.serviceListing .card::-webkit-scrollbar-track:hover{
    background-color: grey;
    border-radius: 50px;
}
/*============================================================================VALUES======================================================================*/
.valuePage{
    color: darkblue;
}
.valueTop .top{
    background-image: url("./img/tower.jpg");
    background-size: cover;
    min-height: 400px;
    width: 100%;
    /*margin-top: 10px;*/
    color: black;
    /*background-repeat: no-repeat;*/
}
.valueTop .insideTop{
    margin-top: 300px;
    margin-left: 50px;
    max-width: 600px;
    background-color: rgba(255,255,255,0.2);
    /*background-color: transparent;*/
}
.valueTop .card-body{
    background-color: transparent;
    /*font-size: xx-large;*/
}
.valueTop .card-body h2{
    font-size: xxx-large;
}
.valueBottom{
    padding-right: 5px;
    padding-left: 5px;
    background-color: darkgrey;
}
.valueBottom .card{
    margin-top: 20px;
    background-color: transparent;
}
.valueBottom .card-body{
    background-color: transparent;
    border-top: 2px solid grey;
    /*border-right: 2px solid grey;*/
    /*border-left: 2px solid grey;*/
}
.valueBottom .card-title{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    /*text-decoration: underline;*/
}
.under{
    height: 25px;
    margin-top: 10px;
    background-image: linear-gradient(lightgray,white,grey);
    /*background-color: darkblue;*/
}
/*===== Media query for smaller screens ========================================================================================================================*/
@media (max-width: 1000px) {

}
@media (max-width: 800px) {
    .contactOptionsList{
        height: 300px;
    }
}
@media (max-width: 768px) {
    /*==================================================Header small screen stuff===============================*/
    .MenuIcon{
        padding-top: 0;
        padding-left: 0;
    }
    .NavItems{
        visibility: hidden;
    }
    .sidebar {
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        /*max-height: 60%;*/
        transform: translateX(-300px);
    }
    .sidebarOpen {
        transform: translateX(0);
    }
    .NavItem_mini{
        visibility: visible;
        border-left: 0;
        font-size: x-large;
        padding-top: 20px;
        text-decoration: none;
        border-bottom: 2px solid blue;
    }
    .NavItem_mini:hover{
        border-bottom: 10px solid lawngreen;
    }
    .NavItem_mini_side{
        visibility:collapse;
        display: none;
    }
    /*====================================Home small screen stuff=========================================*/
    .sloganContainer{
        margin-left: 0;
    }
    .valueList .card{
        height: auto;
        overflow-y: auto;
    }
    .valueLinkBtn2 button:hover{
        width: auto;
    }
    .project-title .card-title{
        font-size:xxx-large;
    }
    /*====================================About small screen stuff=========================================*/
    .targetDiv1{
        min-height: 800px;
        width: 60%;
        /*margin-left: 10%;*/
        margin-top: 40px;
        background-image: url("./img/lightBulb.jpg");
        background-size: cover;
        /*background-color: darkgrey;*/
        position: absolute;
    }
    .targetDiv2{display: none}
    .targetDiv3{display: none}
    .targetDiv4{display: none}
    .targetDiv5{
        min-height: 800px;
        width: 60%;
        margin-left: 35%;
        margin-top: 400px;
        background-image: url("./img/home_work_pic.jpg");
        background-size: cover;
        /*background-color: dimgrey;*/
        position: absolute;
    }
    .target .card{
        margin-top: 5em;
        margin-left: 0;
    }
    /*==========================================Contact small screen stuff====================================*/
    .contactTop .card{
        margin-left: 0;
    }
    .contactOptionsList{
        height: auto;
    }
    .contactTop .insideTop .card-body{
        margin-left: 10px;
        /*max-height: 10px;*/
    }
    /*==========================================Service small screen stuff===========================*/
    .serviceTop .card .card-body h1{
        font-size: xxx-large;
    }
    .serviceListing .card{
        height: auto;
        overflow-y:auto;
    }
}

/*================================================================================== ANIMATIONS AND TRANSITIONS =================================================================*/
/*note the hidden has to be on top of the show*/
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hiddenRight{
    opacity: 0;
    /*visibility: collapse;*/
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.showRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
    .hiddenRight{
        transition: none;
    }
}

